<div id = "container-burger" class="all-burgers col-9 mx-auto">

<h1 class="text-center">Eat-Da-Burger!</h1>

<div = "row">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR52lj8aeecx1Z1tJ5bmNhE-sCp_cWjwcUZAQ&usqp=CAU" alt="hand drawn graphic of hamburger">
</div>


<div = "row">
    <div="col">
        <div id = "not-yet-devoured">
            <h3>Not Yet Devoured!</h3> 
            <ul>
            {{#each burgers}}
            {{#unless devoured}}
            {{!-- {{> change-condition devour=false}} --}}
                <li>
                <p>{{this.id}}    {{this.burger_name}}</p>
                <button class="change-status" data-id="{{this.id}}" data-burger_name="{{this.burger_name}}" data-newdevour="{{this.devoured}}">Devour It!</button>
                </li>
            {{/unless}}
            {{/each}}
            </ul>
        </div>
    </div>

    <div="col">
        <div id = "devoured-it"></div>
            <h3>Devoured It!</h3>
            <ul> 
            {{#each burgers}}
                {{#if devoured}}
                {{!-- {{> change-condition devour=true}} --}}
                <li>
                <p>{{this.id}}    {{this.burger_name}}</p>
                </li>
                {{/if}}
            {{/each}}
            </ul>
        </div>
    </div>
</div>


<div id = "add-a-burger">
    <h3>Add a Burger</h3>
    <form class="createNEW-form">

    <div class="form-group">
        <label for="hambrg">Burger Name:</label>
        <input type="text" id="hambrg" burger_name="burger_name">
    </div>

    <button type="submit">Add Burger</button>
    </form>
</div>


</div>